<div class="body">
    <div class="header">
        <h3>Log In</h3>
    </div>
    <form class="login-form">
        <p>Username</p>
        <input class="loginName" type="text">
        <p>Password</p>
        <input class="loginPass" type="text">
        <button class="loginBtn" type="submit">Submit</button>
        <a href="/signup">Or Sign Up Here</a>
    </form>
</div>

<script src="/js/login.js"></script>